# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# vscode
.vscode

# gradle
build
.gradle

# other
eclipse
run

# Too big of files
java_pid8500.hprof
java_pid16928.hprof
*hprof

OUTPUT

.DS_STORE

golemRun/*

*.log

setting.json
gradle.properties
settings.gradle
target
releases.json
test.sh
